<% if(page.comments){ %>
    <div class="blog-post-comments">
	<div id="disqus_thread"></div>
   </div>
<script>

setTimeout(function() {
  window.addEventListener('load', function() {
    console.log('load comment');
    const link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = 'https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqusjs.css';
    document.head.appendChild(link);
  
    const script = document.createElement('script');
    script.src = 'https://cdn.jsdelivr.net/npm/disqusjs@1.2.6/dist/disqus.js';
    script.onload = function() {
      new DisqusJS({
        shortname: 'xcodebuild',
        identifier: location.pathname,
        url: location.href,
        api: 'https://disqusjs-proxy-opal.now.sh/',
        apikey: 'HKua6kOi0Gfy4qHOBJTBypOpNmwIeSfd3QDJU50cdLueN039tddokbA1aLtDTVR1',
        admin: 'xcodebuild',
        adminLabel: ''
      });
    };
    document.head.appendChild(script);
  })
});
</script>
<% } %>
